.checkboxWrapper {
    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        margin-right: 10px;
        border: 1px solid #CDCDCD;
        outline: none;
        cursor: pointer;
        &:checked {
            background-color: #4198C5;
            position: relative;
            &::before {
                content: url('../../../../assets/checkbox.svg');
                position: absolute;
                top: -1px;
                left: -1px;
            }
        }
        &:disabled {
            border-color: #c0c0c0;
            background-color: #c0c0c0;
            & + span {
                color: #c0c0c0;
            }
        }
        &:focus {
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
        }
        &:hover {
            border-color: #4198C5;
        }
    }
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            color: #616F82;
            font-size: 14px;
            line-height: 20px;
        }
    }
}
