.event {
    padding: 10px;
    display: flex;
    border-radius: 4px;
    border: 1px solid #CDCDCD;
    height: 66px;
        .image {
            width: 82px;
            height: 46px;
        }
        .info {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
                font-size: 14px;
            }
            .more {
                display: flex;
                gap: 20px;
                font-size: 12px;
                .item {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                }
            }
        }
    &:hover {
        border: 1px solid #4198C5;
        cursor: pointer;
}
}